.about-page {
  display: flex;
  flex-direction: column;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
  color: var(--primary-font-color);
}

.about-content-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  margin-left: 5rem;
}

.about-left > img {
  height: 40%;
  width: 40%;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}

.about-left > img:hover  {
  transform: scale(1.08);
}

.about-right {
  flex: 1;
}

.about-content > p {
  padding: 0;
  margin: 0;
  font-size: var(--font-size-1);
  font-weight: bold;
  color: var(--other-font-color);
}

.about-me-content {
  position: relative;
}

.about-left p {
  font-size: var(--font-size-3);
  line-height: 2rem;
}

.technologies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.technologies > div {
  box-sizing: border-box;
}

.technologies svg {
  height: 100%;
}

.java,
.py, 
.js, 
.html, 
.c,
.cpp,
.git, 
.css, 
.sql,
.numpy, 
.matplotlib,
.jsx {
  height:  100px;
  transition: transform 0.3s ease-in-out;
}

.java:hover,
.py:hover, 
.js:hover, 
.html:hover, 
.c:hover,
.cpp:hover,
.git:hover, 
.css:hover, 
.sql:hover,
.numpy:hover,
.matplotlib:hover,  
.jsx:hover {
  transform: scale(1.1);
} 

.java {
  grid-column: 1;
  grid-row: 1;
}

.py {
  grid-column: 1;
  grid-row: 2;
}

.js {
  grid-column: 2;
  grid-row: 1;
}

.html {
  grid-column: 3;
  grid-row: 2;
}

.c {
  grid-column: 1;
  grid-row: 3;
}

.cpp {
  grid-column: 1;
  grid-row: 4;
}

.git {
  grid-column: 2;
  grid-row: 2;
}

.css {
  grid-column: 3;
  grid-row: 3;
}

.sql {
  grid-column: 2;
  grid-row: 3;
}

.numpy {
  grid-column: 3;
  grid-row: 1;
}

.matplotlib {
  grid-column: 3;
  grid-row: 4;
}

.jsx {
  grid-column: 2;
  grid-row: 4;
}

.technologies > *:is(.java, .py, .c, .cpp) {
  margin-top: 2rem; 
}

.technologies > *:is(.html, .css, .numpy, .matplotlib) {
  margin-top: 2rem;
}

@media (max-width: 1024px) {
  .about-content-bottom {
    flex-direction: column;
  }
  .about-left > img {
    height: auto;
  }

  .technologies {
    column-gap: 10rem;
  }
}

@media (max-width: 768px) {
  
}
