.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  display: flex;
}

.footer {
  width: 100vw;
  background-color: black;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  padding: 2rem;

  margin-bottom: -3rem;
  z-index: 15;

  position: relative;

}

.footer-button {
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

.footer-button:hover {
  transform: scale(1.1);
}

.footer svg {
  fill: var(--other-font-color);
  width: 50px;
  height: 50px;
}


.contact-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-page > p {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-1);
  color: var(--other-font-color);
  font-weight: bold;
}

.contact-message {
  padding-left: 18rem;
  padding-right: 18rem;
}

.contact-message > p {
  text-align: center;
  color: var(--primary-font-color);
  font-size: var(--font-size-3);
  line-height: 1.9rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.contact-info svg {
  width: 2rem;
  height: 2rem;
  fill: var(--other-font-color);
}

.sub-c {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-info p, 
.contact-info a {
  text-decoration: none;
  font-size: var(--font-size-3);
  color: var(--primary-font-color);
  padding: 0;
  margin: 0;
}

.created p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: var(--primary-font-color);
}

.back-up {
  cursor: pointer;
  font-size: var(--font-size-1);
  color: var(--other-font-color);
  position: absolute;
  top: -3rem;
  right: 48.5%;

  border: 1px solid var(--other-font-color);
}


@media (max-width: 1150px) {
  .contact-message {
    padding-left: 10rem;
    padding-right: 10rem;
  }

}

@media (max-width: 850px) {
  .contact-message > p {
    line-height: 1.3rem;
  } 

  .contact-info svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--other-font-color);
  }
  
  .sub-c {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
  
  .contact-info p, 
  .contact-info a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--primary-font-color);
    padding: 0;
    margin: 0;
  }

  .back-up {
    font-size: 2rem;
    top: -1.8rem;
    right: 46%;
  }

}

@media (max-width: 780px) {
  .back-up {
    right: 48%;
  }
}

@media (max-width: 540px) {

  .contact-message {
    padding-left: 1rem;
    padding-right: 1rem;
  }

}


@media (max-width: 500px) {

  .contact-message {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

@media (max-width: 400px) {

  .contact-message {

    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .contact-info {
    gap: 0rem;
  }
}
