.front {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  color: var(--primary-font-color);
  font-size: var(--font-size-1);
}

.intro-text > span {
  font-weight: bold;
  color: var(--other-font-color);
}