* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary-font-color: #FFFFFF;
  --other-font-color: #fc8585;
  --accent-color: rgb(129, 128, 128);
  --font-size-1: 3rem;
  --font-size-2: 1.5rem;
}

#root {
  width: 100vw;
  height: 100vh;
  /* scroll-snap-points-y: repeat(300px); */
  scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;
  overflow: auto;
}