* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* :root {
  --primary-font-color: #FFFFFF;
  --other-font-color: #fc8585;
  --accent-color: rgb(129, 128, 128);
  --other-accent-color: lightgray;
  --font-size-1: 3rem;
  --font-size-2: 1.5rem;
  --font-size-3: 1.2rem;
} */


:root {
  --primary-font-color: #FFFFFF;
  --other-font-color: #35b8ff;
  --accent-color: rgb(129, 128, 128);
  --other-accent-color: lightgray;
  --font-size-1: 3rem;
  --font-size-2: 1.5rem;
  --font-size-3: 1.2rem;
}

html {
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;
  overflow: auto;

  min-width: 400px;
}