.nav-bar {
  position: fixed;
  top: 0;
  margin-left: -0.5rem;

  width: 100%;
  background-color: black;
  padding-top: 0.1rem;
  z-index: 15;

}

.line {
  width: 100%;
  border: 1px solid var(--primary-font-color);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 1rem;
}

.buttons button {
  border: none;
  background: none;
  color: var(--primary-font-color);
  cursor: pointer;
  font-size: var(--font-size-2);
  font-weight: 500;

  transition: color 0.2s ease;
}

button.selected {
  color: var(--other-font-color);
}

button:hover {
  color: var(--other-font-color);
}