.section {
  display: flex;
  padding: 2.5rem;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.intro-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.intro-text {
  color: var(--primary-font-color);
  font-size: var(--font-size-1);
  text-align: center;
}

.intro-text > span.glitch-button-text {
  font-weight: bold;
  font-size: var(--font-size-1);
  color: var(--other-font-color);
}

.intro-page button {
  background: none;
  border: 1px solid var(--other-font-color);
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.sat-container {
  position: absolute;
  bottom: 4rem;
  left: -20rem;
  z-index: 10;
}

.sat-container > img {
  width: 70%;
  /* display: none; */
  transition: transform 0.5s ease-in-out;
}

.sat-container > img:hover {
  transform: scale(1.1);
}

.glitch-button-text {
  padding: 0;
  margin: 0;
  font-size: var(--font-size-2);
  color: var(--other-font-color);
  position: relative;
}

.glitch-button-text:hover {
  opacity: 0.9;
  text-shadow: 0px -5px #ec2225, 0px 5px #00c2cb, -5px 0px #ec2225, 5px 0px #00c2cb;
}

.glitch-button-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #e0ffff;
  z-index: -1;
}

.glitch-button-text:hover::before {
  animation: animate 200ms ease-in-out backwards;
  z-index: 1;
}

@keyframes animate{
  0%, 100%{
    top: -7px;
    left: 0;
    opacity: 1;
  }
  20%{
    top: 0;
    left: -10px;
    opacity: 0.7;
  }
  40%{
    top: 7px;
    left: 0;
    opacity: 0.2;
  }
  60%{
    top: 0;
    left: 10px;
    opacity: 0.3;
  }
  80%{
    top: 0;
    left: 0;
    opacity: 0.9;
  }
}

/* ---- about page ----- */

.about-page {
  display: flex;
  flex-direction: column;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
  color: var(--primary-font-color);
}

.about-content-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  margin-left: 5rem;
}

.about-left > img {
  height: 40%;
  width: 40%;
  transition: transform 0.5s ease-in-out;
  z-index: 10;
}

.about-left > img:hover  {
  transform: scale(1.1);
}

.about-right {
  flex: 1;
}

.about-content > p {
  padding: 0;
  margin: 0;
  font-size: var(--font-size-1);
  font-weight: bold;
  color: var(--other-font-color);
}

.about-me-content {
  position: relative;
}

.about-left p {
  font-size: var(--font-size-3);
  line-height: 2rem;
}

.technologies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  justify-items: center;
}

.technologies svg {
  height: 100%;
}

.tech1, 
.tech2, 
.tech3, 
.tech4,
.tech5, 
.tech6, 
.tech8, 
.tech10 {
  height:  100px;
  transition: transform 0.3s ease-in-out;
}

.tech1:hover, 
.tech2:hover, 
.tech3:hover, 
.tech4:hover,
.tech5:hover, 
.tech6:hover, 
.tech8:hover, 
.tech10:hover {
  transform: scale(1.1);
} 


.tech1 {
  grid-column: 1;
  grid-row: 2;
}

.tech2 {
  grid-column: 2;
  grid-row: 1;
}

.tech3 {
  grid-column: 3;
  grid-row: 2;
}

.tech4 {
  grid-column: 1;
  grid-row: 3;
}


.tech5 {
  grid-column: 2;
  grid-row: 2;
}

.tech6 {
  grid-column: 3;
  grid-row: 3;
}


.tech8 {
  grid-column: 2;
  grid-row: 3;
}


.tech10 {
  grid-column: 2;
  grid-row: 4;
}

/* ----- projects ----- */
.project-header > p {
   padding: 0;
  margin: 0;
  font-size: var(--font-size-1);
  font-weight: bold;
  color: var(--other-font-color);
}