.project-page {
  width: 100vw;
  height: 100vh;
}

.project-header > p {
  padding: 0;
  margin: 0;
  font-size: var(--font-size-1);
  font-weight: bold;
  color: var(--other-font-color);
  text-align: center;
}

.project-disp {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: calc(100% - 3rem - 5rem);

  padding: 3rem;
}

.disp-left {
  flex: 2;
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-container {
  width: 100%;
  height: 100%;
}


.prev-svg {
  position: absolute;
  top: 42%;
  left: -0.1rem;
}

.next-svg {
  position: absolute;
  top: 42%;
  right: -0.1rem;
}

.prev-svg, 
.next-svg {
  background-color: rgb(256, 256, 256, 0.4);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.1s ease-in;
}

.prev-svg:hover, 
.next-svg:hover {
  transform: scale(1.1);
}

.prev-svg > svg, 
.next-svg > svg {
  width: 4rem;
  height: 4rem;
}

#SVGRepo_iconCarrier, 
#primary {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

/* carousel  */
.carousel-container {
  width: 100%;
  height: 100%;
  overflow-x: scroll;

  display: flex;
  gap: 1rem;
  padding: 1rem;

  scroll-snap-type: x mandatory;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  overflow: auto;

  border: 1px solid black;
  background-color: white;
  /* box-shadow: inset 10px 10px 9px 0px rgba(0,0,0,0.41); */

  border-radius: 0.5rem;
}

.carousel-item {
  flex: 1 0 100%;
  display: flex;

  scroll-snap-align: center;
}

.carousel-item > img {
  width: 100%;
  height: 100%;
  object-fit: fill;

  border-radius: 0.5rem;

  z-index: 10;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/* right side  */
.disp-right {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--primary-font-color);

}

.project-data {
  display: flex;
  flex-direction: column;
}

.project-data p > a {
  text-decoration: none;
  color: var(--primary-font-color)
}

.proj-title {
  text-align: center;
  font-size: var(--font-size-2);
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

}

.link:hover {
  transform: scale(1.1);
}

.link > svg {
  fill: var(--primary-font-color);
  width: 50px;
  height: 50px;
}

.link {
  width: max-content;
  height: max-content;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}